# Week 2. Day 1. Exercises from Chapter 4 of FSStDS. 
## Fundamentals of Social Data Science. MT 2022

Within your study pod discuss the following questions. Please submit an individual assignment by 12:30pm Tuesday, October 18, 2022 on Canvas.

# Exercise 1. Creating a DataFrame from multiple JSON files

There are nine pages of search results for Oxford from OMDB (as of last year; `omdb_Oxford_search_page_\*.json`). 

**Exercise 1a.** Create a single DataFrame from these 9 files.

**Exercise 1b.** Report on the oldest and most recent entry. 

- **Hint**. To read all files from a Path object with a wildcard use the 'glob' method, such as: `for path in data_dir.blog("omdb_Oxford*.json"): path.do_something()`

- **Challenge** - Note that shows that span years are written with the two years separated by `--`. So ensure that you split this and then consider these years when reporting the oldest and newest entries.

In [187]:
import pandas as pd
import json
import pathlib as p
import re
import xmltodict
from datetime import datetime as dt

In [188]:
# Exercise 1a answer below here 
json_list = []
for path in p.Path("../data/ch04/").glob('omdb_Oxford*.json'):
    file = open(path)
    json_list = json_list + json.load(file)['Search']
    
omdb_df = pd.DataFrame(json_list)
omdb_df.head(5)
# Exercise 1a answer above here

,Title,Year,imdbID,Type,Poster
0,Oxford Circus,1897,tt2323621,movie,N/A
1,Oxford and Cambridge Boat Race,1900,tt2371366,movie,N/A
2,Jesus Is My Rock: A Celebration of Gospel Musi...,2012,tt2404172,movie,N/A
3,Oxford and Cambridge Boat Race 1901,1901,tt2491060,movie,N/A
4,International Field Sports: Oxford-Cambridge v...,1901,tt2549482,movie,N/A

In [189]:
# Exercise 1b answer below here 
oldest_row = omdb_df.sort_values(by=['Year']).head(1)
newest_row = omdb_df.sort_values(by=['Year']).tail(1)

print(f"{oldest_row['Title'].iloc[0]} is the oldest entry, and came out in {oldest_row['Year'].iloc[0]}")
print(f"{newest_row['Title'].iloc[0]} is the newest entry, and came out in {newest_row['Year'].iloc[0]}")
# Exercise 1b answer above here

The Oxford and Cambridge University Boat Race is the oldest entry, and came out in 1895
Oxford Street 24/7 is the newest entry, and came out in 2018–2019

# Exercise 2. Navigate Reddit JSON 

Go to a page on reddit and then replace www.reddit with api.reddit. This will then give the page as JSON. Do this for a specific subreddit of interest (such as cats, cryptocurrency, mediasynthesis, ukpolitics, etc...). 

This json will likely only have 25-26 entries. Normalise by data so that each story has a single line. This will have many, many columns. One of these columns will be the title of the headline and one will be the URL. 

- **Exercise 2a**. Find these two columns and then create a smaller DataFrame that just has these columns as well as the one for upvote score (`ups`).  

- **Exercise 2b**. What are the most common words across all titles? Does it matter if you use lower case and remove punctuation as we did last week? 

- **Exercise 2c**. What domain names are the most common?

> **Hint**: If you aren't having luck with saving your own JSON, you can use the old `environment.json` that is appended with the data. 

> **Hint**: Parsing domain names can be a nuisance. Here is a a small snippet that can help:

In [191]:
# See: https://docs.python.org/3/library/urllib.parse.html
# For example:
from urllib.parse import urlparse
result = urlparse("http://www.nytimes.com/somestory.html")
print(result) # Which item is the domain name?

ParseResult(scheme='http', netloc='www.nytimes.com', path='/somestory.html', params='', query='', fragment='')

In [198]:
# Exercise 2a Answer below here 
file = open('../data/ch04/reddit.json')
entries = json.load(file)['data']['children']
entry_list = []
for entry in entries:
    temp_dict = {}
    temp_dict['Title'] = entry['data']['title']
    temp_dict['Url'] = entry['data']['url']
    temp_dict['Upvotes'] = entry['data']['ups']
    entry_list.append(temp_dict)

reddit_df = pd.DataFrame(entry_list)
reddit_df
# Exercise 2a Answer above here

,Title,Url,Upvotes
0,Halloween Megathread 2022,https://www.reddit.com/r/AskReddit/comments/y5...,38
1,Sexy Halloween VIII: Sexurrection,https://www.reddit.com/r/AskReddit/comments/y5...,0
2,What is the stupidest thing a large amount of ...,https://www.reddit.com/r/AskReddit/comments/y5...,17879
3,What are the unwritten rules of Reddit?,https://www.reddit.com/r/AskReddit/comments/y5...,6749
4,"What famous person do you dislike, why?",https://www.reddit.com/r/AskReddit/comments/y5...,2378
5,Who are the scariest types of people?,https://www.reddit.com/r/AskReddit/comments/y5...,15575
6,What is cool in the eyes of most high schooler...,https://www.reddit.com/r/AskReddit/comments/y5...,5439
7,What’s something you wouldn’t even try once?,https://www.reddit.com/r/AskReddit/comments/y6...,640
8,what's something people don't think about when...,https://www.reddit.com/r/AskReddit/comments/y6...,141
9,"Non British folk, what do you assume that us B...",https://www.reddit.com/r/AskReddit/comments/y5...,308
10,"Non-Americans, what do you think every America...",https://www.reddit.com/r/AskReddit/comments/y5...,42527
11,What would you do in your 20s to avoid regret ...,https://www.reddit.com/r/AskReddit/comments/y5...,975
12,What deceased musician would still be making a...,https://www.reddit.com/r/AskReddit/comments/y5...,1375
13,What life-changing item can you buy for less t...,https://www.reddit.com/r/AskReddit/comments/y5...,4191
14,What is legal and should become illegal?,https://www.reddit.com/r/AskReddit/comments/y5...,10086
15,(serious) What are You struggling with right now?,https://www.reddit.com/r/AskReddit/comments/y5...,643
16,[Serious] What’s a food that you hate the text...,https://www.reddit.com/r/AskReddit/comments/y5...,959
17,What’s a word you can never remember how to sp...,https://www.reddit.com/r/AskReddit/comments/y5...,425
18,What's the game you've put 1000 hours in?,https://www.reddit.com/r/AskReddit/comments/y6...,27
19,What is the biggest waste of money?,https://www.reddit.com/r/AskReddit/comments/y5...,65
20,What's the one thing that you wish was real?,https://www.reddit.com/r/AskReddit/comments/y6...,11
21,"Non-Canadians, what do you think every Canadia...",https://www.reddit.com/r/AskReddit/comments/y5...,71
22,If you were given 5 minutes in a supermarket t...,https://www.reddit.com/r/AskReddit/comments/y6...,10
23,What is the fastest way of losing weight?,https://www.reddit.com/r/AskReddit/comments/y6...,47
24,What did you want to be when you grew up versu...,https://www.reddit.com/r/AskReddit/comments/y6...,10
25,“I’ll be there in 5 minutes” is a universal li...,https://www.reddit.com/r/AskReddit/comments/y6...,10
26,"If men stare at “ass and titties”, what do wom...",https://www.reddit.com/r/AskReddit/comments/y5...,7912

In [193]:
# Exercise 2b Answer below here 

single_string = ' '.join(reddit_df['Title'].tolist())
unclean_common = pd.Series(single_string.split(' ')).value_counts().head(1)
clean_common = pd.Series(re.sub('[^a-zA-Z\d\s]', '', single_string).lower().split(' ')).value_counts().head(1)

print(f"When the titles are uncleaned, '{unclean_common.keys()[0]}' is the most common word with {unclean_common[0]} instances")
print(f"When the titles are cleaned, '{clean_common.keys()[0]}' is the most common word with {clean_common[0]} instances")
# Exercise 2b Answer above here

When the titles are uncleaned, 'you' is the most common word with 17 instances
When the titles are cleaned, 'what' is the most common word with 20 instances

In [194]:
# Exercise 2c Answer below here 

common_domain = pd.Series([url.split('/')[2] for url in reddit_df['Url'].tolist()]).value_counts()
print(f"{common_domain.keys()[0]} is the most common domain with {common_domain[0]} instances (it's also the only domain?)")
# Exercise 2c Answer above here

www.reddit.com is the most common domain with 27 instances (it's also the only domain?)

# Exercise 3. The love-hate relationship with DIKW

As mentioned in the chapter, the Wikipedia entry for data had DIKW in the article, then it was removed, then it reappared! I think it is still there now. I did not do the editing of this. 

With the data export of the Wikipedia page on data (`Wikipedia - data - Special export - 2022-10-17_10_24_15.xml`): 

- **Exercise 3a**. Create a DataFrame where each revision of the Wikipedia article in the export is given its own row. 
- **Exercise 3b**. Search for the first time DIKW was mentioned and the last time it was mentioned. Try to find the gap? When did it appear? 

> **Hint**: Using `xmltodict` might be helpful for wrangling the XML data, but it might also make life complicated. Explore the data both through a text editor (or browser) and through code to get a sense of it. 

> **Hint**: It is admittedly a little easier to do this if you make use of time in your DataFrame. We do not cover that much until Chapter 10, but feel free to look ahead. You can still sort by revisionID and then just browse the data yourself. This will end up being one of those tasks that's not easy but gets easier with more skills of abstraction.

In [195]:
# Exercise 3a Answer below here

file = open('../data/ch04/wikipedia.xml')
xml_dict = xmltodict.parse(file.read())
revisions = xml_dict['mediawiki']['page']['revision']

revise_df = pd.DataFrame(revisions)
revise_df.head(5)

# EXercise 3a Answer above here

,id,timestamp,contributor,minor,comment,model,format,text,sha1,parentid
0,246479,2001-03-17T06:29:52Z,"{'username': '208.245.214.xxx', 'id': '0'}",NaN,*,wikitext,text/x-wiki,"{'@bytes': '542', '@xml:space': 'preserve', '#...",4bi0lqmoh3d6z1tv2dg3zfjaqt20fj3,NaN
1,246480,2001-03-26T22:35:32Z,"{'username': '192.75.241.xxx', 'id': '0'}",NaN,*,wikitext,text/x-wiki,"{'@bytes': '559', '@xml:space': 'preserve', '#...",lv1z2dzhms5ys77nfrgq58mem9ptdik,246479
2,18191,2002-02-25T14:51:43Z,"{'username': 'Conversion script', 'id': '12264...",NaN,Automated conversion,wikitext,text/x-wiki,"{'@bytes': '556', '@xml:space': 'preserve', '#...",rtvjc8fo6z391pjlte9kw8e7wi02enn,246480
3,18192,2002-02-25T14:52:12Z,{'ip': '213.253.40.156'},NaN,term in bold,wikitext,text/x-wiki,"{'@bytes': '565', '@xml:space': 'preserve', '#...",1x390dickut12wma4fuy2eezu138o37,18191
4,18817,2002-02-25T15:43:11Z,{'ip': '213.253.40.156'},NaN,linking mass noun,wikitext,text/x-wiki,"{'@bytes': '569', '@xml:space': 'preserve', '#...",gprvn7s0a4k8jrjcou6lq139xxv1hde,18192

In [196]:
# Exercise 3b Answer below here

times = []
for revise in revisions:
    try: 
        has_dikw = re.search('DIKW', revise['text']['#text'])
        if has_dikw: 
            times.append(revise['timestamp'])
    except:
        continue

format = "%Y-%m-%dT%H:%M:%SZ"
first_date = dt.strptime(times[0], format)
last_date = dt.strptime(times[-1], format)

print(f"{first_date.date()} is the first day DIKW appeared in a revision, {last_date.date()} is the last day. There was a gap of {(last_date - first_date).days} days")

# EXercise 3b Answer above here

2005-08-25 is the first day DIKW appeared in a revision, 2005-11-23 is the last day. There was a gap of 90 days